In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# import completeDataset.csv
data=pd.read_csv("citrus prod dt(no nul).csv")
data.head()

,Unnamed: 0,Unnamed: 0.1,Area,Year,Citrus Production(hg/ha),Pesticide quantity,Qte azote(N),Qte Engrais phosphatés,Qte potasse K2O,temp Mar–Apr–May,temp Jun–Jul–Aug,temp Sep–Oct–Nov,temp year
0,0,0,Afghanistan,1961,69444,0.0,0.13,0.01,0.0,1.005,0.968,0.717,0.468
1,1,1,Afghanistan,1962,69444,0.0,0.13,0.01,0.0,1.386,0.232,-0.862,0.428
2,2,2,Afghanistan,1963,69444,0.0,0.13,0.01,0.0,1.143,1.097,1.583,1.430
3,3,3,Afghanistan,1964,80349,0.0,0.13,0.01,0.0,1.254,0.565,-0.439,-0.179
4,4,4,Afghanistan,1965,84647,0.0,0.13,0.01,0.0,-0.040,0.231,1.906,0.348

In [12]:
from sklearn.model_selection import train_test_split

In [11]:
X=data.drop(["Area","Citrus Production(hg/ha)","Unnamed: 0","Unnamed: 0.1"],axis=1)
Y=data["Citrus Production(hg/ha)"]
X

,Year,Pesticide quantity,Qte azote(N),Qte Engrais phosphatés,Qte potasse K2O,temp Mar–Apr–May,temp Jun–Jul–Aug,temp Sep–Oct–Nov,temp year
0,1961,0.00,0.13,0.01,0.00,1.005,0.968,0.717,0.468
1,1962,0.00,0.13,0.01,0.00,1.386,0.232,-0.862,0.428
2,1963,0.00,0.13,0.01,0.00,1.143,1.097,1.583,1.430
3,1964,0.00,0.13,0.01,0.00,1.254,0.565,-0.439,-0.179
4,1965,0.00,0.13,0.01,0.00,-0.040,0.231,1.906,0.348
...,...,...,...,...,...,...,...,...,...
6868,2014,0.53,11.27,7.66,4.93,0.539,1.112,1.073,0.604
6869,2015,0.53,10.39,7.22,4.73,1.341,1.745,1.993,1.404
6870,2016,0.53,14.17,9.59,7.95,1.125,1.209,2.265,1.616
6871,2017,0.53,15.85,11.80,9.76,0.076,1.177,0.966,0.582
6872,2018,0.53,15.85,11.80,9.76,0.809,1.608,0.969,0.809

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:

# Create model

lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [19]:
y_hat_test = lm.predict(X_test)

In [20]:
from sklearn.model_selection import cross_val_score

In [21]:
# k-fold CV 

scores = cross_val_score(lm, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
scores

array([-4.03038068e+10, -5.46815894e+10, -8.17658116e+10, -2.51005575e+10,
       -3.83377304e+10])

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
test_mse = mean_squared_error(y_test, y_hat_test)
print("mse : {}".format(test_mse))
test_rmse = np.sqrt(test_mse)
print("rmse : {}".format(test_rmse))

mse : 11645481694.590786
rmse : 107914.23304917097